<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>All Todo Lists</title>
  </head>
  <body>
    <main>
      <div>
        <h1>{{list.name}}</h1>
        <p><a href="{% url 'update_todolist' list.id %}">Edit</a></p>
        <p><a href="{% url 'delete_todolist' list.id %}">Delete</a></p>
        <h2>Tasks</h2>
        <table>
          <thead>
            <th>Name</th>
            <th>Due date</th>
          </thead>
          <tbody>
            {% for task in list.items.all %}
            <tr>
             
              <td> <a href="{% url 'update_todoitem' task.id%}">{{task.task}}</a></td>
              <td>{{task.due_date | default:"No due date."}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
       
    </main>
  </body>
</html>
