<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>All Todo Lists</title>
  </head>
  <body>
    <main>
      <div>
        <h1>My Lists</h1>
        <p><a href="{% url 'create_todolist' %}">Create New List</a></p>
        <p><a href="{% url 'create_todoitem' %}">Create New Item</a></p>
        <table>
          <thead>
            <th>Name</th>
            <th>Number of items</th>
          </thead>
          <tbody>
            {% for list in todo_lists %}
            <tr>
              <td>
                <a href="{% url 'show_todolist' list.id %}"> {{list.name}} </a>
              </td>
              <td>{{list.items.all |length}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
